body {
}

svg path {
}

svg path:hover {
  fill:#14ec65
}



.hex {
  width: 25%;
  position: absolute;
}

.hex1 {
  top: 15%;
  background-color: transparent;
  left: 34%;
  fill: red;
}

.hex2 {
 top: 47.8%;
 left: 21.3%;
 fill: orange;
}

.hex3 {
  top: 15%;
  left: 59.2%;
  fill: green;
}

.hex4 {
  top: 47.8%;
  left: 46.5%;
  fill: blue;
}
